@import url(http://fonts.googleapis.com/css?family=Russo+One|Jura|Roboto+Condensed&subset=latin,cyrillic);

body {
    background-color: #efefef;
}

.main {
    background-color: #fff;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.main .row {
    margin-bottom: 15px;
    padding: 0 20px;
}


.center {
    text-align: center;
}

.header {
    border-bottom: 1px solid #c5c5c5;
    font-family: 'Russo One', sans-serif;
    background-color: black;
    color: #f5f5f5;
}

.header h1 {
    font-size: 2em;
}

.header h2 {
    font-size: 1.5em;
}

.header h3 {
    font-size: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
    text-align:right; 
}

.main .btn, .main .well {
    border-radius: 0px;
    font-family: 'Jura', sans-serif;
}

.main .btn {
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}


.question {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.main .well {
    font-size: 1.2em;
    color: #363636;
}

.main .btn-ex {
    width: 200px;
}

.radio label{
    width: 100%;
    font-family: 'Jura', sans-serif;
    padding-left: 10%;
    padding-top: 10px;
    height: 35px;

}

.radio:hover {
    background-color: #efefef;
}


